In [6]:
import pandas as pd
from SPARQLWrapper import SPARQLWrapper, JSON

In [7]:
query_ep = """
SELECT ?property ?propertyLabel WHERE {
  ?property wdt:P31 wd:Q18614948;  # Instance of "external identifier"
          rdfs:label ?propertyLabel .
  FILTER(LANG(?propertyLabel) = "en")
}
ORDER BY ?property
"""

In [8]:
sparql_endpoint = "https://query.wikidata.org/sparql"
sparql = SPARQLWrapper(sparql_endpoint)

In [9]:
sparql.setQuery(query_ep)
sparql.setReturnFormat(JSON)
results_ep = sparql.query().convert()

In [10]:
codes = [item['property']['value'].split('/')[-1] for item in results_ep['results']['bindings']]
property_labels = [item['propertyLabel']['value'] for item in results_ep['results']['bindings']]

In [14]:
df = pd.DataFrame({
    'Code': codes,
    'Property Label': property_labels
})

In [15]:
# df.to_csv("external_prop_2023.csv", index=False)

In [12]:
dfx = pd.read_excel("gap_properties_example.xlsx")

In [13]:
dfx

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,rich,Gujarati Vishwakosh entry,0.5,0.125,0.125,0.25,2.000000,0.0625,1.166667
1,rich,Jewish Encyclopedia ID (Russian),0.5,0.500,0.500,1.00,2.000000,0.2500,inf
2,rich,British Museum place ID,0.5,0.125,0.125,0.25,2.000000,0.0625,1.166667
3,rich,external data available at URL,0.5,0.100,0.100,0.20,2.000000,0.0500,1.125000
4,rich,social media followers,0.5,0.250,0.250,0.50,2.000000,0.1250,1.500000
...,...,...,...,...,...,...,...,...,...
209,rich,Encyclopedia of Modern Ukraine ID,0.5,0.425,0.325,0.65,1.529412,0.1125,1.642857
210,rich,MeSH tree code,0.5,0.425,0.325,0.65,1.529412,0.1125,1.642857
211,rich,Dewey Decimal Classification,0.5,0.525,0.400,0.80,1.523810,0.1375,2.375000
212,rich,museum-digital place ID,0.5,0.625,0.475,0.95,1.520000,0.1625,7.500000
213,rich,Treccani ID,0.5,0.600,0.450,0.90,1.500000,0.1500,4.000000

In [16]:
property_labels_in_df2 = df['Property Label'].tolist()

# Filter the rows in dataframe1
filtered_dataframe1 = dfx[~dfx['consequents'].isin(property_labels_in_df2)]

# Now, filtered_dataframe1 will contain rows where the property labels are not present in dataframe2

In [17]:
filtered_dataframe1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,rich,Gujarati Vishwakosh entry,0.5,0.125,0.125,0.25,2.000000,0.0625,1.166667
1,rich,Jewish Encyclopedia ID (Russian),0.5,0.500,0.500,1.00,2.000000,0.2500,inf
2,rich,British Museum place ID,0.5,0.125,0.125,0.25,2.000000,0.0625,1.166667
3,rich,external data available at URL,0.5,0.100,0.100,0.20,2.000000,0.0500,1.125000
4,rich,social media followers,0.5,0.250,0.250,0.50,2.000000,0.1250,1.500000
...,...,...,...,...,...,...,...,...,...
209,rich,Encyclopedia of Modern Ukraine ID,0.5,0.425,0.325,0.65,1.529412,0.1125,1.642857
210,rich,MeSH tree code,0.5,0.425,0.325,0.65,1.529412,0.1125,1.642857
211,rich,Dewey Decimal Classification,0.5,0.525,0.400,0.80,1.523810,0.1375,2.375000
212,rich,museum-digital place ID,0.5,0.625,0.475,0.95,1.520000,0.1625,7.500000
213,rich,Treccani ID,0.5,0.600,0.450,0.90,1.500000,0.1500,4.000000